.div-card {
    margin: 30px;
    background: lightcyan;
    height: 400px;
    transition: all .3s ease-in-out;
    border: 2px solid purple;
}

.div-card:hover{
    transform: scale(1.1);
}

body {
    background: lightblue;
}


.tableheader {
    border-right: 1px solid black;
    border-top-right-radius: 20px;
}

.row:hover {
    background: rgba(217, 148, 235, 0.3);
}

.searchForm {
    max-width: 600px;
}

.form-editing-hidden {
    display: none;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    width: 50%;
    left: 25%;
}